[Unit]
Description=Chippy Buttons
After=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /share/chippy-buttons/src/main.py  > /home/pi/chippy-buttons.log 2>&1
